<header class="header" role="banner">

  <div class="name">
    <a href="{{site.url}}/{{site.baseurl}}" class="name-link" title="Go home">{{site.first_name}}</a>
    <a href="{{site.url}}/{{site.baseurl}}" class="name-link" title="Go home">{{site.last_name}}</a>
  </div>

  <div class="top-level-nav" id="top-level-nav">
    <a href="{{site.top_link.path | relative_url}}" class="nav-link">{{site.top_link.name}}</a>
    <br>
    <a href="{{site.middle_link.path | relative_url}}" class="nav-link">{{site.middle_link.name}}</a>
    <br>
    <a href="{{site.bottom_link.path | relative_url}}" class="nav-link">{{site.bottom_link.name}}</a>
    <br>
  </div>

</header>
